<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Liste des tournois</h1>
    <a href="#" class="btn btn-primary">Créer un tournoi</a>
  </div>
  <% @tournois.each do |tournoi| %>
    <div class="card text-center mb-4">
      <div class="card-header">
        <%= tournoi.nom %>
        <%= tournoi.ville %>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <%= tournoi.date_tournoi %>
        </h5>
        <p class="card-text">Inscription jusuq'au: <%= tournoi.date_tournoi %> /p>
        <br>
        <a href="#" class="btn btn-primary">Je m'inscis</a>
        <a href="#" class="btn btn-primary">Je me désinscris</a>
        <a href="#" class="btn btn-primary">Supprimer le tournoi</a>
      </div>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  <% end %>
</div>
