<div class="app-footer-phone">
  <div class="flex-justify-between p-0-1">
    <%= link_to image_tag("baco.jpeg", { class: 'image-footer baco-logo' }), { action: 'home', controller: '/pages' } %>
    <%= link_to image_tag("badminton.png", { class: 'image-footer', alt: "logo volant de badminton pour accès à la liste des tournois" }), { action: 'index', controller: '/tournois' } %>
    <%= link_to image_tag("userIcon.png", { class: 'image-footer', alt: "icon de l'utilisateur" }), user_session_path %>
  </div>
</div>
