<div class="container-app-bad">
  <h1>Bienvenue sur le show de User</h1>

  <div class="grid-3">

    <div class="carte-user text-center">
      <p><%= image_tag("baco.jpeg", :alt => "BACO logo", :class => "avatar") %></p>
      <span><%= current_user.prenom %></span>
      <span class="bold"><%= current_user.nom %></span>
      <p><%= current_user.num_licence %></p>
    </div>

    <div>
    </div>

  </div>

</div>
