body {
  margin: 0;
  padding: 0;
  background-color: $white;
}

.container-app-bad {
  padding: 0rem 3rem;
}

li, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.avatar {
  width: 80px;
  border-radius: 50%;
}

// classes display
.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

// classes padding et margin
.p-0-1 {
  padding: 0rem 1rem;
}

.p-0-10 {
  padding: 0rem 10rem;
}

// grid style
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

// text
.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}
