@import '../configuration/variables.scss';

// scss only for phone

@media screen and (max-width: $height-tablet) {
  .app-footer-phone {
    width: 100vw;
    background: $grey;
    position: fixed;
    bottom: 0;
    .image-footer {
      padding: 0.5rem;
      width: 40px;
      height: auto;
    }
    .baco-logo {
      border-radius: 50%;
    }
  }
}

@media screen and (min-width: $height-tablet) {
  .app-footer-phone {
    display: none;
  }
}
