@import '../configuration/variables.scss';

// scss only for phone

@media screen and (max-width: $height-tablet) {
  footer {
    display: none;
  }
}

@media screen and (min-width: $height-tablet) {
  footer {
    width: 100vw;
    background: $grey;
    position: fixed;
    bottom: 0;
  }
  .footer-color {
    background-color: $grey;
  }
}
