@import '../configuration/variables.scss';

// scss only for phone

@media screen and (max-width: $height-tablet) {
  .app-footer-desktop {
    display: none;
  }
}

@media screen and (min-width: $height-tablet) {
  .app-footer-desktop {
    width: 100vw;
    background: $grey;
    position: fixed;
    bottom: 0;
  }
}
