<p>Bonjour, voici la nouvelle procédure pour vous s’inscrire aux tournois adultes pour la saison 2021-2022.</p>
<p>Quelques rappels des règles mise en place avec le club :</p>
<ul class="style-type-circle">
  <li>Les dates limites d’inscription notées doivent être scrupuleusement respectées.
  Pour une inscription au-delà de la limite, l’inscription se fera individuellement
  au près du club organisateur et ne sera pas prise en charge.</li>
  <li>Pour chaque joueur, Le club prend en charge 3 tournois + les 2 ou 3 du club sur toute la saison.
  Ces tournois doivent être choisi exclusivement dans les tournois sur la droite de la page</li>
  <li>Pour les tournois hors de ce calendrier, le joueur doit s’inscrire sans passer par le club et
  l’inscription reste à la charge du joueur.</li>
  <li>Au delà des 5 tournois, le joueur devra s’inscrire directement auprès de l’organisateur et
  réglé lui même son inscription</li>
  <li>Le calendrier sera mis à jour plusieurs fois dans la saison suivant l’actualité des tournois.</li>
  <li>inscrits au calendrier du BACO + les 2 ou 3 tournois du club.</li>
  <li>Il est à la charge de chaque joueur de bien lire le règlement et la plaquette du tournoi où il s’inscrit.</li>
</ul>
